<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Your Stats</title>
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <div class="logo"></div>
            <h1>Time<span>Wise</span></h1>
            <button class="back-btn">BACK</button>
        </header>
        <main>
            <!-- ALL-TIME STATS -->
            <div class="all-time">
                <h3>All-time Stats</h3>
                <div class="total-sessions stats-card">
                    <p class="time"></p>
                    <p class="label"></p>
                </div>
                <div class="total-time stats-card">
                    <p class="time"></p>
                    <p class="label"></p>
                </div>
                <div class="total-break-time stats-card">
                    <p class="time"></p>
                    <p class="label"></p>
                </div>
                <div class="avg-session-length stats-card">
                    <p class="time"></p>
                    <p class="label"></p>
                </div>
            </div>
            <!-- DAILY STATS -->
            <div class="daily">
                <div class="calendar"></div>
                <hr>
                <div class="today-stats">
                    <p class="today-date"></p>
                    <p>Time spent wisely: <span class="time"></span></p>
                </div>
            </div>
        </main>
    </body>
</html>
