<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TimeWise</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/styles.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
    </head>
    <body>
        <header>
            <div class="logo"></div>
            <h1>Time<span>Wise</span></h1>
            <button class="stats-btn">STATS</button>
        </header>
        <main>
            <!-- VIEWS -->
            <!-- Home page -->
            <section class="homepage">
                <h3>Choose a timer:</h3>
                <div class="timers carousel">
                    <button class="25 25-mins preset-timer">Pomodoro</button>
                    <button class="30 30-mins preset-timer">30 mins</button>
                    <button class="60 1-hr preset-timer">1 hr</button>
                    <button class="90 1-hr-30-mins preset-timer">1 hr 30 mins</button>
                    <button class="120 2-hrs preset-timer">2 hrs</button>
                    <button class="150 2-hrs-30-mins preset-timer">2 hrs 30 mins</button>
                </div>
                <button class="custom-timer-btn">Create a custom timer</button>
            </section>
            <!-- Timer configuration page -->
            <section class="time-config hidden">
                <h3>Set up your timer</h3>
                <div class="strict-mode-selection">
                    <div class="strict-mode-setting">
                        <p class="strict-mode-label">Strict mode?</p>
                        <input type="checkbox" name="strict-mode-toggle" id="strict-mode-toggle-cb">
                        <label for="strict-mode-toggle-cb" class="strict-mode-toggle-label">
                            <div class="strict-mode-toggle-inner"></div>
                            <div class="strict-mode-toggle-switch"></div>
                        </label>
                    </div>
                    <p class="appear-when-strict-mode-toggled hidden">If strict mode is on, you will not be able to exit the timer until it ends.</p>
                </div>
                <div>
                    <p class="site-blacklist-label">Type in your site blacklist:</p>
                    <p>Type in a comma-separated list of the websites you want to block during your session.</p>
                    <textarea name="site-blacklist" id="site-blacklist" cols="70" rows="6"></textarea>
                </div>
                <div class="timer-config-buttons">
                    <button class="back-btn">Go back</button>
                    <button class="start-btn"></button>
                </div>
            </section>
            <!-- Active timer (non-strict mode) -->
            <section class="active-timer non-strict hidden">
                <h3 class="timer-digital" id="non-strict-timer"></h3>
                <div class="timer-outer">
                    <div class="timer-inner">
                        <div class="pause-btn running">
                            <div class="pause-symbol"></div>
                            <div class="play-symbol hidden"></div>
                        </div>
                    </div>
                </div>
                <p class="pause-label">Take a break</p>
                <div class="end-container">
                    <div class="end-btn"></div>
                    <p class="end-label">end</p>
                </div>
            </section>
            <!-- Active timer (strict mode) -->
            <section class="active-timer strict hidden">
                <h3 class="timer-digital" id="strict-timer"></h3>
                <div class="timer-outer">
                    <div class="timer-inner">
                </div>
                <p class="words-of-affirmation"></p>
            </section>

            <!-- MODALS -->
            <!-- Custom time selection modal -->
            <section class="modal hidden" id="custom-timer-modal">
                <div class="custom-timer modal-container">
                    <h3>Create a custom time</h3>
                    <div class="time-picker">
                        <div class="hour-picker">
                            <label for="hour">Hour</label>
                            <select id="hour" class="hour-select"></select>
                        </div>
                        <div class="minute-picker">
                            <label for="minute">Minute</label>
                            <select id="minute" class="minute-select"></select>
                        </div>
                    </div>
                    <div class="custom-timer-buttons">
                        <button class="modal-btn back-btn">BACK</button>
                        <button class="modal-btn select-btn">SELECT</button>
                    </div>
                </div>
            </section>
            <!-- Stats modal -->
            <section class="modal hidden" id="stats-modal">
                <div class="stats modal-container">
                    <h3>Time spent wisely:</h3>
                    <div class="stats-counter">
                        <p class="today-counter"><span></span> mins spent</p>
                        <!-- <p class="this-week-counter"><span>0</span> mins this week</p> -->
                    </div>
                    <button class="modal-btn">DONE</button>
                </div>
            </section>
            <!-- Timer done modal -->
            <section class="modal hidden" id="timer-done-modal">
                <div class="timer-done modal-container">
                    <h3 class="timer-digital">00:00:00</h3>
                    <p>You did it!</p>
                    <button class="modal-btn">DONE</button>
                </div>
            </section>
            <!-- End button clicked modal -->
            <section class="modal hidden" id="end-clicked-modal">
                <div class="end-clicked modal-container">
                    <h3>Are you sure you want to end your session?</h3>
                    <div class="buttons">
                        <button class="no-btn">No</button>
                        <button class="yes-btn">Yes</button>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
