<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TimeWise</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <header>
            <div class="logo"></div>
            <h1>Time<span>Wise</span></h1>
            <button class="stats-btn">STATS</button>
        </header>
        <main>
            <!-- VIEWS -->
            <!-- Home page -->
            <section class="homepage visible">
                <h3>Choose a timer:</h3>
                <div class="timers carousel">
                    <button class="pomodoro preset-timer">Pomodoro</button>
                    <button class="30-mins preset-timer">30 mins</button>
                    <button class="1-hr preset-timer">1 hr</button>
                    <button class="1-hr-30-mins preset-timer">1 hr 30 mins</button>
                    <button class="2-hrs preset-timer">2 hrs</button>
                    <button class="2-hrs-30-mins preset-timer">2 hrs 30 mins</button>
                </div>
                <button class="custom-timer-btn">Create a custom timer</button>
            </section>
            <!-- Timer configuration page -->
            <section class="time-config hidden">
                <h3>Set up your timer</h3>
                <div class="strict-mode-selection">
                    <div class="strict-mode-setting">
                        <p class="strict-mode-label">Strict mode?</p>
                        <input type="checkbox" name="strict-mode-toggle" id="strict-mode-toggle-cb">
                        <label for="strict-mode-toggle-cb" class="strict-mode-toggle-label">
                            <div class="strict-mode-toggle-inner"></div>
                            <div class="strict-mode-toggle-switch"></div>
                        </label>
                    </div>
                    <p class="appear-when-strict-mode-toggled">If strict mode is on, you will not be able to exit the timer until it ends.</p>
                </div>
                <div>
                    <p class="site-blacklist-label">Type in your site blacklist:</p>
                    <p>Type in a comma-separated list of the websites you want to block during your session.</p>
                    <textarea name="site-blacklist" id="site-blacklist" cols="70" rows="6"></textarea>
                </div>
                <button class="start-btn">Start your session (1 hr)</button>
            </section>
            <!-- Active timer (non-strict mode) -->
            <section class="active-timer non-strict visible">
                <h3 class="timer-digital">00:55:59</h3>
                <div class="timer-outer">
                    <div class="timer-inner">
                        <div class="pause-btn running">
                            <div class="pause-symbol"></div>
                            <div class="play-symbol hidden"></div>
                        </div>
                    </div>
                </div>
                <p class="pause-label">Take a break</p>
                <div class="end-container">
                    <div class="end-btn"></div>
                    <p class="end-label">end</p>
                </div>
            </section>
            <!-- Active timer (strict mode) -->
            <section class="active-timer strict hidden">
                <h3 class="timer-digital">00:55:59</h3>
                <div class="timer-outer">
                    <div class="timer-inner">
                    </div>
                </div>
                <p class="words-of-affirmation"></p>
            </section>

            <!-- MODALS -->
            <!-- Custom time selection modal -->
            <section class="custom-timer modal hidden">
                <h3>Create a custom time</h3>
                <div class="time-picker">
                    <div class="hour-picker">
                        <label for="hour">Hour</label>
                        <select id="hour" class="hour-select"></select>
                    </div>
                    <div class="minute-picker">
                        <label for="minute">Minute</label>
                        <select id="minute" class="minute-select"></select>
                    </div>
                </div>
                <button class="modal-btn">SELECT</button>
            </section>
            <!-- Stats modal -->
            <section class="stats modal hidden">
                <h3>Time spent wisely:</h3>
                <div class="stats-counter">
                    <p>0 mins today</p>
                    <p>0 mins this week</p>
                </div>
                <button class="modal-btn">DONE</button>
            </section>
            <!-- Timer done modal -->
            <section class="timer-done modal hidden">
                <h3>00:00:00</h3>
                <p>You did it!</p>
                <button class="modal-btn">DONE</button>
            </section>
        </main>
    </body>
</html>
